<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFamilyControlsUsageDescription</key>
	<string>Nomie uses Screen Time data to help you reduce doomscrolling and track focus.</string>
	<key>SupabaseAnonKey</key>
	<string>sb_publishable_ChBERvx1OnQbl4FCOgfcPA_nSNOP6h9</string>
	<key>SupabaseURL</key>
	<string>https://ufvhchuwzjzpchmnuxwv.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque.ttf</string>
		<string>BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf</string>
		<string>SortsMillGoudy-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>SortsMillGoudy-Italic.ttf</string>
	</array>
</dict>
</plist>
